<!-- <script>
    let dt=test.getData();
</script>
<h1>C est un composant parent</h1>
<div class="divp">
  this is a parent
  <input class="paranti" [(ngModel)]="valparent">
  <span>la valeur depuis fils {{valf}}</span>
  <app-fils [valeurDParent]="valparent" (valeurFilsEvent)="valeurDfils($event)"></app-fils>
</div>
<hr>
<h3>{{valeur2}}</h3>
<h3>{{1+method1()}}</h3>
<h4>##property binding</h4>
<h3><button [disabled]="!isAdmin">Remove</button></h3>
<h4>##event binding</h4>
<p>Counter: {{eventCounter}}</p>
<button (click)="increment()">increment</button><button (click)="decrement()">decrement</button>
<h4>##two way biinding</h4>
<input type="text" [(ngModel)]="TwoWayInput" name="" id="">
<p>valeur entre: {{TwoWayInput}}</p> -->

<a [routerLink]="'/home'" class="directive-link">
  home page
</a>

<a [routerLink]="'/admin'"  class="directive-link">
 admin page
</a>
<router-outlet></router-outlet>